* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

h4 {
  padding: 10px;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

img {
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  height: 200px;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
}
